*
{
	position: relative;
	margin: 0;
	padding: 0;
	border-radius: 0;
}

ul.nav.navbar-nav
{
	padding-top: 2%;
}

ul.nav.navbar-nav li
{
	display: inline-block;
}

.borderless
{
	border-color: transparent;
}

article button:not(:disabled):hover,
article input[type='button']:not(:disabled):hover,
article textarea:not(:disabled):hover,
article input[type='radio']:checked:not(:disabled)+label:hover,
article select:not(:disabled):hover,
article input[type='submit']:not(:disabled):hover,
.navbar.container-fluid .nav.row .col-sm-2 a:not(.chosenLink):hover,
#createJob:hover,
#user:hover img,
input[type='checkbox']:hover,
th:hover
{
	-moz-box-shadow:    inset 0 0 10px rgba(0, 0, 255, 0.3);
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 255, 0.3);
	box-shadow:         inset 0 0 10px rgba(0, 0, 255, 0.3);
}

body
{
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	background-color: #f1f3fa;
}

header.navbar
{
	background-color: #ccc;
	z-index: 999;
}

header a:hover
{
	color: #f09;
}

nav.navbar.container-fluid
{
	background-color: #eee;
	border: 0;
	color: #666;
	width: 84%;
	padding: 0;
	margin-top: 2%;
}

nav.navbar.container-fluid ul
{
	width: 100%;
	margin: 0;
	padding: 0;
}

.nav li
{
	text-align: center;
	padding: 0;
	border: 0;
}

.nav li a:not(.chosenLink)
{
	border: 1px solid #bbb;
}

.nav li a
{
	width: 100%;
	border-bottom: 0;
	color: #111;
}

.nav li a:not(.chosenLink):hover
{
	color: #666;
}

.img-responsive
{
	width: 100%;
}

.chosenLink
{
    border: 1px solid #ccc;
    
    background-color: #fff;
    pointer-events: none;
    color: #444;
}

div.imageBack
{
	display: block;
	width: 32px;
	height: 32px;
	margin: 5% auto;
}

p.imageBack
{
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 50%;
	margin: 0 5%;
}

span.imageBack
{
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 50%;
	margin: 0 5%;
}

.navbar
{
	margin-bottom: 0;
	border-radius: 0;
	padding: 0 7%;
	z-index: 998;
	border: 0;
	font-size: 90%;
	font-weight: 600;
	border-color: transparent;
}

#infoBox
{
	background-color: #fff;
	width: 83.85%;
	padding: .5%;
	border: 0;
	margin-top: -0.5%;
	margin-bottom: 1.5%;
}

#infoBox div.chosableLink:not(.displayed)
{
	display: none;
}

#infoBox div.displayed section p
{
	color: #777;
}

.badge-notify
{
	position: absolute;
	background: #f00;
	left: 45px;
	top: -5px;
	border: 1px solid #fff;
	font-size: 101%;
}

#notifications,
#user
{
	font-size: 200%;
	height: 34px;
	bottom: 0;
	left: 17px;
	margin-right: 40px;
}

#user img
{
	border-radius: 100px;
}

#searchPanel
{
	width: 285px;
	padding-right: -34px;
}

#searchPanel:hover
{
	border-color: rgba(100, 100, 100, 0.49);
}

#searchPanel *
{
	border-radius: 0;
}

#searchPanel button,
#searchPanel input[type="text"]
{
	border: 1px solid #ccc;
	background-color: #fff;
	height: 35px;
	padding: 0 3%;
	margin: 0;
}

#searchPanel:hover button,
#searchPanel:hover input[type="text"]
{
	border-color: #0b0;
}

#searchPanel button
{
	position: absolute;
	border-left: 0;
	right: 4px;
}

#searchPanel input[type="text"]
{
	border-right: 0;
	width: 96%;
}

p.imageBack.smallArrowDown:after
{
	position: absolute;
	content:'\25BC';
	margin-top: -25%;
	left: 90%;
	font-size: 70%;
}

.form-control#searchField
{
	display: inline-block;
	padding-top: 2px;
}

#createJob
{
	border-radius: 0;
	background-color: #0b0;
	color: #fff;
	font-weight: 700;
	
	height: 34px;
	width: 100px;

	margin: 0 10%;
	text-shadow: 1px 1px #333;
	
	-webkit-box-shadow: 2px 2px 5px rgba(100, 100, 100, 0.49);
	-moz-box-shadow:    2px 2px 5px rgba(100, 100, 100, 0.49);
	box-shadow:         2px 2px 5px rgba(100, 100, 100, 0.49);
}

.chosableLink
{
	padding: 0;
	width: 100%;
	overflow-y: auto;
}

.chosableLink
{
	width: 100%;
	overflow-x: hidden;
}

/* User button */
.dropdown-menu
{
	padding: 0;
	top: 39px;
	margin-right: 13px;
}

.dropdown-menu a.dropdown-item
{
	display: block;
	width: 100%;
	padding: 3%;
}

.dropdown-menu .dropdown-item.logout
{
	border-top: 1px solid #ccc;
	background-color: #455;
	color: #fff;
}

header nav > li,
#logo,
#logoPic
{
	height: 34px;
	line-height: 34px;
	padding: 0;
}

#logoPic
{
	left: 22px;
	top: 5px;
}

.tableInit
{
	clear: both;
	padding: 2% .5% 0 .5%;
}

.tableInit p
{
	display: inline;
	z-index: 998;
}

.tableInit p:first-child
{
	float: left;
}

.tableInit p:last-child
{
	float: right;
}

.tableInit input[type='button'],
.tableInit input[type='submit'],
.tableInit input[type='radio'] + label,
.tableInit select,
#batch,
#rowsPerPage
{
	font-weight: 600;
}

.tableInit input[type='button'],
.tableInit input[type='submit'],
.tableInit input[type='radio'] + label,
.tableInit select
{
	border: 1px solid #ccc;
}

.tableInit input[type='button'],
.tableInit input[type='submit'],
.tableInit input[type='radio'] + label
{
	border: 1px solid #ccc;
	padding: 5px 10px;
}

.tableInit select
{
	border: 1px solid #ccc;
	padding: 5px 3px;
}

.tableInit input[type='button']#page_next
{
	margin-left: -1%;
	border-left: 0;
}

.tableInit input[type='submit'],
.tableInit input[type='radio'] + label
{
	margin-right: 5px;
}

.tableInit input[type='submit']
{
	border-radius: 2px;
}

.tableInit input[type='button']#page_prev
{
	border-radius: 2px 0 0 2px;
}

.tableInit input[type='button']#page_next
{
	border-radius: 0 2px 2px 0;
}

.tableInit input[type='radio'] + label
{
	border-radius: 30px;
}

.tableInit input[type='button']:not(:disabled),
.tableInit input[type='radio']:not(:checked)+label
{
	background-color: #fff;
	cursor: pointer;
}


#rowsPerPage,
.tableInit input[type='button']:not(:disabled)
{
	color: #d4007f;
}

#batch span,
.tableInit input[type='radio']:not(:checked) + label,
.tableInit input[type='button']:disabled
{
	color: #ccc;
}

.tableInit input[type='submit'],
.tableInit input[type='radio']:checked+label
{
	background-color: #ccc;
	color: #fff;
}

.tableInit input[type='radio']
{
	display: none;
}

.twoTables
{
	padding: 0 3px;
}

.twoTables .dataTables_wrapper:not(.oneTable)
{
	display: none;
}

.twoTables table
{
	min-width: 100%;
	border: 0;
}

.twoTables table thead th,
.twoTables table tr:before,
.twoTables table tr:after
{
	background-color: #eef;
}

.twoTables table tr td:first-child
{
	border-left: 3px solid #ccc;
}

.twoTables table tbody tr.warning td,
.twoTables table tbody tr.danger td,
.twoTables table tbody tr.success td,
.twoTables table tbody tr.info td,
.twoTables table tbody tr td
{
	background-color: #fff;
	border-left: 0;
	border-right: 0;
}

.twoTables table tr.warning:not(.active) td:first-child
{
	border-left: 3px solid #fff318;
}

.twoTables table tr.danger:not(.active) td:first-child
{
	border-left: 3px solid #f00;
}

.twoTables table tr.success:not(.active) td:first-child
{
	border-left: 3px solid #0f0;
}

.twoTables table tr.info:not(.active) td:first-child
{
	border-left: 3px solid #2ec4f5;
}

.twoTables table tr.active td:first-child
{
	border-left: 3px solid #000;
}

.twoTables table tr td:first-child
{
	border-left: 3px solid #eee;
}

.twoTables table tr.active td
{
	background-color: #fff;
}

th, td { white-space: nowrap !important; }

th:not(:first-child)
{
	border-left: 1px solid #ddd;
}

th:first-child
{
	border-left: 3px solid #ddd;
}

input[type='text'].mutatable
{
	border: 0;
	display: inline-block;
	text-decoration: underline;
}