<div style="background-color: #eeeeef; padding: 50px 0;">
<table style="max-width: 640px;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td style="padding: 40px 30px 30px 30px;" align="center" bgcolor="#1a75ff">
<h1 style="color: #fff;">Welcome to Europe Internship.com!</h1>
</td>
</tr>
<tr>
<td style="padding: 40px 30px 40px 30px;" bgcolor="#ffffff">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="260">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>Hello! Your registration has been submitted successfully. Below is your username and password.</td>
</tr>
<tr>
<td style="padding: 10px 0 0 0;">User Name: [REGISTER_USER_NAME]</td>
</tr>
<tr>
<td style="padding: 10px 0 0 0;">User Password: [REGISTER_USER_PASSWORD]</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="background-color: #ffffff; padding: 30px 30px 30px 30px;">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-family: Arial, sans-serif; font-size: 14px;">Join us on Facebook, www.facebook.com/internship.europe for updates and further information! <span style="background-color: #ffffff;">Don't hesitate to contact us at info@europe-internship.com if you have questions!  Also ask for our CV-packages to increase your chances of finding the right intern.</span></td>
</tr>
<tr>
<td style="font-family: Arial, sans-serif; font-size: 14px;">® Europe Internship 2017</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>